/* Body */  

body{
    margin: 0;
    padding: 0;
}

/* navbar */
.container {
    display: flex;
    position: relative;
 }
 
 .block {
    margin-left: auto;
    margin-right: auto;
    
 }
.navbar{
    display: flex;
    color: white;
    justify-content: space-around; 
    width: 100%;
    align-items: flex-end;
    
}
nav{
    display: flex;
    background-color: #162133;
    padding: 10px; 
    
}
nav img{
    width: 15%;
}

li{
    list-style-type: none;
    
}

/* Image voiture */

.imagevoitures img{
    width: 100%;
    z-index: 1;
 }
 .imagevoitures{
     margin: 0;
     
 }
 
 .textvoitures p {
     padding: 20px;
     margin-top: -140px;
     color: black;
     position: absolute;
     background-color: cornflowerblue;
     border-radius: 20px;  
     border-style: outset;  
}

.textvoitures{
     margin-right: 320px;
     float: right;
     padding: px;

}


 
  


